<sly data-sly-test.HeaderTitle="${properties.headerTitle}"/>



<sly data-sly-use.Play="${'com.core.models.DateFormatting' @ tim=properties.jcr:created}">
<sly data-sly-use.date="com.core.models.SelfDate"></sly>
<sly data-sly-use.NewDate="com.core.models.PojoDate"></sly>

  <!--<sly data-sly-test="${wcmmode.edit && !HeaderTitle}">
    <div class="cq-placeholder cq-marker-start" data-emptytext="Title Header Component"></div>
  </sly>

   <sly data-sly-test="${HeaderTitle}" >

   		<h2 class="inner-header-title">${HeaderTitle}</h2>


    </sly> -->

<h2 class="inner-header-title">Date:${Play.date}, Time:${Play.time}</h2>


<h2 class="inner-header-title">New Date:${date.getDate}</h2>

<h2 class="inner-header-title">WCM USE POJO:${NewDate.getDate}</h2>

